---
import ProfilePic from "@/components/ProfilePic.astro";
import NarrowPageLayout from "@/layouts/NarrowPageLayout.astro";
---

<NarrowPageLayout>
  <article class="px-6 pb-12 w-full">
    <h1 class="text-3xl w-full text-center"><span class="cool-text-gradient">About Me</span></h1>
    <section class="w-full flex justify-center py-8">
      <ProfilePic src="https://github.com/henrikvtcodes.png" dimension={186} />
    </section>
    <section class="flex flex-col items-center [&>p]:w-5/6 border-separate">
      <p>
        Hey! My name is Henrik and I am a self-taught software dev, homelabber, unicyclist, and
        urbanist. I hail from the New York City metro area, and am a die hard New Jerseyan (gov phil
        murphy sucks though, he should support transit more) (also f*ck the port authority). My
        primary discipline is fullstack web dev (using Typescript), however I dabble in systems
        programming (with Rust) & some other stuff for classes. Overall, I am generally proficient
        in Typescript, Python, Java, Nix, and to some extent Go and Rust.
      </p>
    </section>
  </article>
</NarrowPageLayout>
