---
import Ellipses from "@/components/Ellipsis.astro";
import ProfilePic from "@/components/ProfilePic.astro";
import NarrowPageLayout from "@/layouts/NarrowPageLayout.astro";
---

<NarrowPageLayout>
  <article class="px-6 pb-12 w-full">
    <h1 class="text-3xl w-full text-center"><span class="cool-text-gradient">About Me</span></h1>
    <section class="w-full flex justify-center py-8">
      <ProfilePic src="https://github.com/henrikvtcodes.png" dimension={186} />
    </section>
    <section class="flex flex-col items-center [&>p]:w-5/6 border-separate">
      <p>
        Hey! My name is Henrik and I am a self-taught software developer, homelabber, & unicyclist.
        I am currently studying computer science at the university level. My primary discipline is
        fullstack web dev (using Typescript), however I dabble in systems programming (with Rust) &
        some other stuff for class.
      </p>
      <Ellipses />
      <p>
        My preferred (web dev) stack is based on the T3 Stack (Next.js, Tailwind CSS, tRPC,
        NextAuth/Auth.js) with the difference that I like to sub-in Lucia or Supabase for the
        authentication aspect. For serverside, I've used Nest and vanilla Express in the past,
        however, I have switched to using Elysia (in the Bun runtime) for full fledged APIs & Hono
        for environments like CF Workers.
      </p>
      <Ellipses />
      <p>
        My homelab is currently small, but I am working on expanding it. So far, I've got a 4tb {
          "<$200"
        } NAS box based on a HP EliteDesk G4 SFF, and a Lenovo ThinkCentre thin client. I also have a
        Hetzner server for some stuff. I currently co-run <a
          target={"_blank"}
          href="https://as215207.net">an IPv6 only hobbynet</a
        > to learn more about complex networking topologies.
      </p>
    </section>
  </article>
</NarrowPageLayout>
