---
import NarrowPageLayout from "@/layouts/NarrowPageLayout.astro";
---

<NarrowPageLayout>
  <h1 class="text-3xl w-full text-center pb-4">Contact</h1>
  <div class="space-y-4">
    <div class="w-full px-6">
      You can message me on Twitter
      <a
        href="https://twitter.com/henrikvtcodes"
        class="text-blue-500 hover:underline"
        target="_blank"
        ><span class="font-mono bg-zinc-100 dark:bg-zinc-700 p-1 rounded-sm">@henrikvtcodes</span
        ></a
      >
    </div>
    <div class="w-full px-6">
      You can also try to message me on Discord
      <span class="font-mono bg-zinc-100 dark:bg-zinc-700 p-1 rounded-sm">@hemnirk</span> (although I
      can't guarantee I'll see it)
    </div>
    <!-- TODO: Add captcha-protected email here -->
  </div>
</NarrowPageLayout>
