---
import NarrowPageLayout from "@/layouts/NarrowPageLayout.astro";
---

<NarrowPageLayout>
  <h1 class="text-3xl w-full text-center pb-4">Contact</h1>
  <div class="space-y-4">
    <div class="w-full px-6">
      You can message me on Twitter
      <a href="https://twitter.com/henrikvtcodes" class="text-blue-500 hover:underline"
        ><code class="font-mono bg-gray-100 p-1 rounded-sm">@henrikvtcodes</code></a
      >
    </div>
    <div class="w-full px-6">
      You can also try to message me on Discord
      <code class="font-mono bg-gray-100 p-1 rounded-sm">@hemnirk</code> (although I can't guarantee
      I'll see it)
    </div>
    <!-- TODO: Add captcha-protected email here -->
  </div>
</NarrowPageLayout>
