---
import InfoCard from "../components/InfoCard.astro";
import ProfilePic from "components/ProfilePic.astro";
import Layout from "layouts/Layout.astro";
import Title from "components/Title.astro";
import NavButtons from "components/NavButtons.astro";
import SocialButtons from "components/SocialButtons";
---

<Layout title="henrik's website" description="henrik's simple website">
  <InfoCard>
    <ProfilePic />
    <Title />
    <p class="max-w-md px-4">
      Hi! I&apos;m Henrik VT. I am a hobby/freelance software developer and am
      currently studying Computer Science in college. I&apos;m interested in web
      development, embedded/systems programming, system adminstration, robotics,
      AV, public transportation, and unicycling. Linked below are my Github and
      LinkedIn profiles.
    </p>
    <NavButtons />
    <SocialButtons client:idle />
  </InfoCard>
</Layout>
