---
import SshKey from "@/components/SshKey.astro";
import NarrowPageLayout from "@/layouts/NarrowPageLayout.astro";
---

<NarrowPageLayout>
  <div class="w-full max-w-full px-6">
    <h1 class="text-4xl">ssh</h1>
    <SshKey />
    Please note this key is separate from my Git signing key and keys I use to access my personal infrastructure.
  </div>
</NarrowPageLayout>
