---
import CopyButton from "@/components/CopyButton.svelte";
import SshKey from "@/components/SshKey.astro";
import NarrowPageLayout from "@/layouts/NarrowPageLayout.astro";

const sshKeyAddCmd = "curl https://henrikvt.com/id_ed25519.pub >> ~/.ssh/authorized_keys";
---

<NarrowPageLayout>
  <div class="w-full max-w-full px-6">
    <h1 class="text-4xl">ssh</h1>
    <SshKey />
    Use this command to copy my public key to your `authorized_keys` file.
    <div class="w-full max-w-full py-4 inline-flex items-center">
      <code
        class="block font-mono w-full overflow-x-scroll px-4 py-2 rounded bg-zinc-200 dark:bg-zinc-700 whitespace-nowrap"
      >
        {sshKeyAddCmd}
      </code>
      <CopyButton toCopy={sshKeyAddCmd} client:load />
    </div>
    Please note this key is separate from my Git signing key and keys I use to access my personal infrastructure.
  </div>
</NarrowPageLayout>
