<div class="flex flex-wrap flex-row justify-center">
  <img src="https://marisakirisame.net/battle-of-wits.gif" alt="" />
  <img src="/badges/graphicdesign.gif" alt="" />
  <img src="/badges/learn_html.gif" alt="" />
  <a href="https://github.com/henrikvtcodes/nix-machines" target="_blank"
    ><img src="/badges/nixos.gif" alt="" /></a
  >
  <img src="/badges/sun.gif" alt="" />
  <img src="/badges/wii.gif" alt="" />
  <img src="/badges/www2.gif" alt="" />
  <img src="/badges/xenia-now.gif" alt="" />
  <a href="https://xkcd.com"><img src="/badges/xkcd.png" alt="" /></a>
  <img class="w-[88px] h-[31px]" src="/badges/devbyhuman_white.png" alt="" />
</div>
