---
import { MoreHorizontal } from "lucide";
import LucideIcon from "./Icon/lucide-icon.astro";
---

<span class="w-full inline-flex justify-center">
  <LucideIcon class="w-6 h-auto" icon={MoreHorizontal} />
</span>
