---
import NavLink from "./NavLink.astro";
---

<header>
  <nav class="w-full px-6 py-8 flex gap-x-4 font-serif">
    <NavLink href="/">home</NavLink>
    <NavLink href="/about">about</NavLink>
    <NavLink href="/links">links</NavLink>
    <NavLink href="/keys">keys</NavLink>
  </nav>
</header>
