<nav
  class="w-full flex sm:flex-row flex-col justify-center content-center my-4 sm:gap-x-2 gap-y-2"
>
  <a
    class="no-underline basis-1/2"
    href={"https://blog.henriktech.com"}
    target={"_blank"}
  >
    <div
      class="w-full px-6 py-2 text-center align-middle font-semibold text-sm text-white rounded bg-white bg-opacity-10 hover:bg-opacity-20"
    >
      Blog
    </div>
  </a>

  <a
    href={"https://consulting.henrikvt.com?utm_campaign=links&utm_source=portfolio&utm_medium=web"}
    class="no-underline basis-1/2"
    target={"_blank"}
  >
    <div
      class="w-full py-2 text-center align-middle font-semibold text-sm text-white rounded bg-white bg-opacity-10 hover:bg-opacity-20"
    >
      Consulting
    </div>
  </a>
</nav>
