<a
  class="no-underline"
  href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
  target={"_blank"}
>
  <h1
    class="lg:text-7xl md:text-6xl text-5xl mt-2 mb-4 font-extrabold text-white hover:cursor-pointer"
  >
    Henrik VT
  </h1>
</a>
