/* FONTS */
@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

.Inter {
  font-family: Inter;
}

/* DEFAULTS & BASICS */
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  height: 100%;
  width: 100%;

  font-family: Inter;
  color: white;
}

* {
  box-sizing: border-box;
}

.pagefill {
  min-height: 100vh;
  width: 100vw;
}

.containerfill {
  min-height: 100%;
  width: 100%;
}

/* TAILWIND CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;
