/* DEFAULTS */
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  height: 100%;
  width: 100%;

  font-family: Inter;
}

* {
  box-sizing: border-box;
}

.pagefill {
  min-height: 100vh;
  width: 100vw;
}

/* FONTS */
@import url("https://rsms.me/inter/inter.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Tourney&display=swap');
@font-face {
  font-family: 'Uni Sans Heavy';
  src: url('uni-sans.heavy-caps.otf') format('opentype');
}
@font-face {
  font-family: "Whitney";
  src: url('whitneymedium.otf') format('opentype')
}

:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

.Whitney {
  font-family: Whitney;
}

.UniSansHeavy {
  font-family: "Uni Sans Heavy";
}

.RobotoMono {
  font-family: "Roboto Mono";
}

.Tourney {
  font-family: 'Tourney', cursive;  
  font-weight: 300;
  font-style: normal;
}

/* TAILWIND CSS */
@tailwind components;
@tailwind utilities;

/* GRID & FLEXBOX */
.home-container{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  color: white;
  /* grid-template-columns: [left] 20% [left-mid] 30% [mid] 30% [right-mid] 20% [right];
  grid-template-rows: [top] auto [top-mid] minmax( 270px, 25%) [bot-title] 1fr [bot-mid] minmax(10%, 216px) [bot]; */
}

.home-title {
  order: 1;
  color: white;
}

.flex-child-nav{
  order: 2;
}

.flex-child-socials{
  order: 3;
}

/* CUSTOM CLASSES */
.home-bg {
  background-image: url('../public/images/henrik-inabox.jpg');
  background-repeat: no-repeat;
  background-blend-mode: darken;
}
.home-bg-overlay {
  background: rgba(39,62,84,0.4);
}

.home-bg-gradient {
  background-image: url('../public/svgs/blurry-gradient-haikei.svg') 
}
.home-bg-wave {
  background-image: url('../public/svgs/wave-haikei.svg') 
}

/* SHAPE DIVIDER */
.custom-shape-divider-top-1631590391 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1631590391 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 209px;
}

.custom-shape-divider-top-1631590391 .shape-fill {
    fill: #00a6fb;
}

/* @apply directives */
.navlinks-hover{
  @apply hover:text-purple-electric hover:scale-50 hover:cursor-pointer ;
}