
.navbar {
  height: 70px;
  width: 100%;
  background: white;
  color: Black;
  position: fixed;
  top: 0;
  padding: 0 10vw;
  font-weight: bold;
  border-bottom: 1px solid gray;
  z-index: 99;
  box-sizing: border-box;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.navbar img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
  

main.container {
  height: 100px;
  width: 100%;
  background-color: red;    
  box-sizing: border-box;

  /* Define Flexbox Behavior */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: flex-start;
}

div.logo {
  height: 80px;
  width: 80px;

  /* Define Flexbox Behavior */
  order: 1;
  flex-grow: 1;
}